@charset "utf-8";

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nunito', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
    display: block;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
}
span {
    display: block;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}
html, body {
    width: 100%;
    height: 100%;
}
div.container {
    width: 100%;
    height: 100%;
}



.inbox {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/*  영역 타이틀 */
h2.sec-tit {
    text-align: center;
    margin-bottom: 80px;
}
h2 .title-en {
    color: #3A98B9;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
h2 .title-ko {
    font-size: 32px;
}

/* 버튼 공통 */
.btn {
    width: 180px;
    border: 1px solid #ccc;
    padding: 12px 0;
    border-radius: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #888;
    text-align: center;
}
.btn:hover {
    border-color: #000;
    color: #000;
}




/*******************************************************/
article.intro {
    width: 100%;
    height: 100%;
    background: #FFF1DC url(../img/intro.jpg) no-repeat;
    background-size: auto 100%;
    background-position: right;
    position: relative;
}
article.intro .title {
    width: 50%;
    height: 100%;
    padding-left: 5%;
    box-sizing: border-box;
    background-color: #fff;
}
article.intro .title h1 {
    font-size: 3rem;
    padding-top: 100px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 150px;
}
article.intro .title h1 span:last-child {
    font-size: 3.6rem;
}
article.intro .title .producer {
    position: absolute;
    bottom: 20%;
}
article.intro .title .producer p {
    margin-bottom: 6px;
    font-size: 18px;
    
}
article.intro .title .producer p:first-child {
    letter-spacing: 1px;
}

article.intro .title p span {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    color: #888;
}


article.introduce {
    background-color: #eee;
    padding: 100px 5% 140px;
    margin-bottom: 100px;
}

article.introduce .text-box {}
article.introduce .text-box h2 {
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 20px;
}
article.introduce .text-box p {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 40px;
}
article.introduce .text-box .btn {
    margin-bottom: 60px;
}

article.sitemap {
    margin-bottom: 160px;
}
article.sitemap .mapbox {}
article.sitemap .mapbox img {
    width: 100%;
}

article.layout {
    margin-bottom: 160px;
}
article.layout h2.sec-tit {
    margin-bottom:50px;
}
article.layout .content-box {
    background-image: url(../img/bg_horizontal.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 60px 0;

    position: relative; /* .btngrp의 기준! */
}
article.layout .content-box .btngroup {
    position: absolute;
    left: 20%;
    top: 100px;
}
article.layout .content-box .btngroup a {
    margin-bottom: 14px;
}
article.layout .content-box .img-box {
    width: 45%;
    float: right;
    margin-right: 10%;
}
article.layout .content-box .img-box img {
    width: 100%;
    display: block;
}


article.design {
    margin-bottom: 160px;
}
article.design .content-box {
    text-align: center;
}
article.design .content-box .btngroup {
    margin-bottom: 120px;
}
article.design .content-box .btngroup a {
    display: inline-block;
}
article.design .content-box .btngroup a~a {
    margin-left: 12px;
}

article.design .content-box .img-box {
    width: 100%;
}
article.design .content-box .img-box img {
    width: 100%;
    display: block;
}

article.website {
    margin-bottom: 160px;
}
article.website .btn {
    margin: 0 auto;
}
article.website .btn:hover {
    background-color: #3A98B9;
    border-color: #3A98B9;
    color: #fff;
}

footer {
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}

footer .name {
    margin-bottom: 20px;
}
footer .name span:first-child {
    font-weight: 100;
}
footer .name span:last-child {
    font-size: 24px;
    font-weight: 100;
}
footer p {
    display: inline-block;
    margin-right: 20px; 
    color: #ccc;
}
footer p b {
    margin-right: 6px;
}





