@charset "utf-8";

/* header.css */

header {
    width: 100%;
    height: 120px;
    background-color: #f6f5ef;
    padding: 20px 0;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 999;
}

header .inner-header {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

    /* background-color: greenyellow; */
}

header .logo {
    /* outline: 1px solid blue; */
    float: left;
}

header .logo a {
    display: block;
}

header .logo a img {
    display: block;
    height: 80px;
}

header .gnb {
    /* outline: 1px solid blue; */
    float: right;
}

header .gnb ul {}

header .gnb ul li {
    margin-left: 40px;
    line-height: 80px;
    font-size: 18px;
    text-transform: uppercase;
}

header .gnb ul li:first-child {
    margin-left: 0;
}

header .gnb ul li a {
    color: #555;
}

header .gnb ul li a:hover {
    color: #007042;
    text-decoration: underline;
}
