@charset "utf-8";


/* float을 해제하는 선택자 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* .inner로 시작하는 요소 선택하기! */
/* div[class^="inner"] {
    outline: 3px solid red;
} */

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}


section {
    width: 100%;
    background-image: url(../img/login_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin-top: 120px;
    padding: 80px 0;
}

section .inner-section {
    width: 580px;
    margin: 0 auto;

    /* outline: 2px solid lime; */
}

section .section-title {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

section .loginbox {
    background-color: #fff;
    color: #666;
    padding: 20px;
}

section .loginbox .welcome {
    font-size: 18px;
    text-align: center;
    border-bottom: 0.6px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section .loginbox .welcome span {
    color: #007042;
}

section .loginbox .login {
    /* form 덩어리가 들어가 있는 div!!! */
    /* background-color: tomato; */
    margin-bottom: 20px;
}

/* 아이디, 비밀번호 입력 input */
.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-indent: 10px;
    outline: 0;
}
/* placeholder 색상변경 */
input::placeholder {
    color: #999;
}

.login label {
    display: block;
    margin-bottom: 30px;
    color: #777;
}
.login label input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

.login input[type="submit"] {
    width: 100%;
    height: 60px;
    border: 0;
    background-color: #007042;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

section .loginbox .notice {
    margin-bottom: 20px;
    line-height: 1.4;
    letter-spacing: -0.4px;
}
section .loginbox .notice p:first-child {
    margin-bottom: 10px;
}

section .loginbox .btngrp {
    /* background-color: greenyellow; */
}
section .loginbox .btngrp a {
    font-size: 18px;
    width: 33.33%;
    display: block;
    float: left;
    text-align: center;
    color: #777;
    position: relative; /* 가상요소 after의 기준! */
}
section .loginbox .btngrp a::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background-color: #ccc;

    position: absolute;
    left: 100%;
    top: 4px;
}
section .loginbox .btngrp a:last-child::after {
    display: none;
}


