@charset "UTF-8";

/*** reset.css
***************************************************************************/
* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
}


/* float해제를 위한 클래스와 가상요소! */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {}

header {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}
header .inbox {
    width: 1280px;
    margin: 0 auto;

    border: 2px solid red;
}
header .logo {
    float: left;
}
header .logo img {
    width: 100%;
    padding-top: 10px;
}

header .tab-menu {
    float: right;
}
header .tab-menu li {
    display: inline-block;
}
header .tab-menu li ~ li {
    margin-left: 20px;
}
header .tab-menu li a {
    color: #555;
    line-height: 100px;
}



section {
    /* background-image: url(../img/login_bg.jpg); */
}



footer {}