/*** reset.css ****************************/
@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
}
ul:after, ol:after {
    content: "";
    display: block;
    clear: both;
}
li {
    float: left;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; 
}




