@charset "UTF-8";

/* 09_example.css */

* {
    margin: 0;
    padding: 0;
}
input, select {
    outline: 0;
}

#wrap {
    width: 90%;
    max-width: 980px;
    margin: 40px auto;

/*     border: 2px solid red; */
}

#wrap h2 {
    color: skyblue;
    margin-bottom: 40px;
}

#wrap p {
    color: #666;
    margin-bottom: 40px;
}

#wrap .list-box {
    /* outline: 1px solid red; */
    position: relative;
    top: 0%;
    left: 1.3%;
}

#wrap .list-box::after {
    content: "";
    display: block;
    clear: both;
}

#wrap .list-box .list {
    float: left;
    margin-right: 100px;
}

#wrap .list-box .list li {
    color: #666;
    margin: 6px;
}


#search-area {
    width: 100%;
    background-color: #eee;
    padding: 36px;
}

#search-area .search-box {
    width: 90%;
    max-width: 980px;
    margin: 0 auto 20px;

/*     border: 2px solid red; */
}

.search-box select {
    width: 140px;
    height: 49px;
    padding: 0 10px;

    border: 2px solid green;
    background: #fff;
    font-size: 14px;
    color: green;
    cursor: pointer;
}

.search-box input[type="text"] {
    width: 380px;
    height: 45px;
    padding: 0 14px;

    border: 2px solid green;
    font-size: 14px;
    color: #333;
}

.search-box input::placeholder {
    color: green;
}

.search-btn {
    width: 45px;
    height: 45px;
    font-size: 19px;
    cursor: pointer;
    background-color: #fff;

    /* border: 1px solid red; */
    border: none;

    position: relative;
    left: -52px;
    top: 3px;
}

.reset-btn {
    width: 34px;
    height: 34px;
    font-size: 19px;
    cursor: pointer;
    background: lightgray;
    color: #fff;

    border: none;

    position: relative;
    left: -51px;
    bottom: -9px;
}


#search-area .keyword-list {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;

    position: relative; /* .keyword의 기준!! */
}

#search-area .keyword-list p {
    font-size: 18px;
    font-weight: bold;
}

#search-area .keyword-list .keyword {
    list-style: none;

    position: absolute;
    left: 15%;
    top: 12%;
}

#search-area .keyword-list .keyword::after {
    content: "";
    display: block;
    clear: both;
}

#search-area .keyword-list .keyword li {
    float: left;
    margin: 0 14px;

    color: #333;
}