@charset "UTF-8";

/* 09_example_T.css */

/* reset */
* {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

/* 폼태그 리셋 */
fieldset {
    border: none;
}
legend {
    display: none;
    /* font-size: 0; */
    /* opacity: 0; */
    /* height: 0;
    overflow: hidden; */
}
input, select {
    outline: 0;
}

body {
    padding: 40px;
}
.content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto 60px;

    /* background-color: blanchedalmond; */
}

.content h1 {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: #00a0c6;
}
.content p {
    /* background-color: lime; */
    width: 70%;
    word-break: keep-all;

    font-size: 18px;
    font-size: 1.125rem;
    color: #777;
    margin-bottom: 50px;
}
.content ul::after {
    content: "";
    display: block;
    clear: both;
}
.content ul li {
    /* outline: 2px solid red; */

    background: url(images/bu_square.gif) no-repeat left center;
    padding-left: 16px;
    margin-bottom: 10px;

    float: left;
    width: 50%;
    box-sizing: border-box;
}

.search {
    background-color: #eee;
    padding: 60px 0;
    text-align: center;
}
.search form {
    margin-bottom: 40px;
}

.search select {
    width: 140px;
    height: 70px;
    border: 4px solid #3ea133;
    color: #3ea133;

    vertical-align: middle;
}

.search .inputbox {
    display: inline-block; /* select 와 가로 나열을 위해! */
    vertical-align: middle;
}
.search .inputbox input {
    vertical-align: bottom;
}

/* : 요소의 상태를 선택할 때 | :: 요소를 선택할 때 */
.search .inputbox input::placeholder {
    color: #3ea133;
}

/* 공통으로 css를 넣을 때 자주 사용! */
.search .inputbox input[type="search"] {
    width: 390px;
    height: 70px;
    border: 4px solid #3ea133;
    color: #3ea133;
    text-indent: 16px;

    border-right: 0;
}
.search .inputbox input[type="submit"] {
    width: 70px;
    height: 70px;
    border: 4px solid #3ea133;
    font-size: 0;
    background: #fff url(images/btn_search.gif) no-repeat center;

    border-left: 0;
    margin-left: -5px;
}
.search .inputbox input[type="reset"] {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 0;
    background: url(images/btn_refresh.gif);
}

.keyword {}
.keyword h2 {
    font-size: 20px;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 10px;
}
.keyword p {
    display: inline-block;
}
.keyword p a {
    display: inline-block;
    color: #454545;
    margin: 0  10px;

    position: relative; /* 가상요소의 기준! */
}
.keyword p a ~ a::after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #bbb;

    position: absolute;
    left: -12px;
    top: 6px;
}