@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
a {
    text-decoration: none;
}

/* float을 해제하는 가상 선택자! */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-image: url(../images/bg.jpg);
}
header {
    background-image: url(../images/bg-header.jpg);
    width: 100%;
    /* height: 100px; */
    height: 100px;
}
header .inner-header {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;

    outline: 2px solid purple;
}
header .inner-header .logo {
    /* outline: 2px solid blue; */
    
    float: left;
    padding-top: 40px;
}
header .inner-header .logo a {}
header .inner-header .logo img {}

header .inner-header .gnb {
     float: right;
     width: 60%;

     outline: 2px solid lime;
}
header .inner-header .gnb ul {
   text-align: right;
}
header .inner-header .gnb ul li {
    /* float: left; */
    display: inline-block;
    line-height: 100px;
    text-align: center;
    /* margin: 0 15px; */
    margin-left: 30px;
    /* outline: 2px solid red; */
}
header .inner-header .gnb ul li:first-child {
    margin-left: 0;
}

header .inner-header .gnb ul li a {
    color: #fff;
    font-size: 18px;
}


section {
    width: 960px;
    margin: 0 auto;

    outline: 2px solid plum;
}
section .about {
    /* width: 90%; */

   background-image: url(../images/bg-triangle.png);
   background-repeat: no-repeat;
   height: 535px;

   position: relative;

   padding-bottom: 15px;
   border-bottom: 2px solid #fff;
}
section .about .title {
    color: #fff;
    font-size: 24px;

    background-image: url(../images/triangles.png);
    background-repeat: no-repeat;
    height: 535px;
    background-position: 32% 70%;
}

section .about .txt-box {
    width: 24%;
    position: absolute;
    left: 74%;
    top: 40%;
}
section .about .txt-box p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}
section .about .txt-box p:first-child {
    color: yellow;
    font-size: 14px;
    font-weight: bold;
}

section .about .txt-box p a {
    color: #fff;
}

section .content {}
section .content .title {}
section .content .box-wrap {}
section .content .box-wrap .box {}
section .content .box-wrap .box img {}
section .content .box-wrap .box img ul {}
section .content .box-wrap .box img ul li {}

footer {
    background-image: url(../images/bg-header.jpg);
}