@charset "UTF-8";

/* 
구글웹폰트
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900;
*/

* {
    margin: 0;
    padding: 0;
}

/* 보이는 화면 기준으로 너비, 높이 설정하기! */
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(0,0,0,0.5);

    position: fixed;
    left: 0;
    top: 0;
}
header h1 {
    width: 100%;
    height: 100%;
    font-size: 0;
    background: url(img/amorepacific.png) no-repeat center;
}

section {
    /* outline: 3px solid red; */

    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.brand1 {background-image: url(img/brands_img_sulwhasoo.jpg);}
section.brand2 {background-image: url(img/brands_img_laneige.jpg);}
section.brand3 {background-image: url(img/brands_img_mamonde.png);}
section.brand4 {background-image: url(img/brands_img_hanyul.png);}

section .content .brand {
    padding: 100px 80px 0;
    margin-bottom: 40px;
}
section .content .brand img {
    height: 50px;
}

section .content .box {
    background-color: rgba(255, 255, 225, 0.5);
    padding: 40px 0 50px;
    text-align: center;
}
section .content .box .title {
    font-size: 26px;
    margin-bottom: 16px;
}
section .content .box .des {}
section .content .box .des p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}