@charset "UTF-8";

/* index.css */

/* 
구글 웹폰트

1) 영문
Use a value from 300 to 900
font-family: "Merriweather", serif;


2) 한글
font-family: "Nanum Gothic", sans-serif;
font-weight: 400 | 700 | 800;
*/

/*** MAIN *******************************************************************************/
main {
    width: 100%;
    max-width: 1920px;
    margin: 140px auto 80px;

    /* outline: 2px solid red; */
}
main .promotion {
    width: 100%;
    height: 700px;
    background: url(../img/main_forest.jpg) no-repeat center top/cover;
}
main .promotion a {
    /* display: none; */

    /* background-color: red; */
    width: 100%;
    height: 100%;
    font-size: 0;
}

main .event {
    width: 100%;
}
main .event img {
    width: 100%;
    display: block;
}

/*** SECTION *******************************************************************************/
section {
    /* background-color: bisque; */
}
section > article {}

article.md-pick {
    width: 1280px;
    margin: 0 auto 100px;

    /* outline: 2px solid red; */
}
article.md-pick .content {
    /* background-color: plum; */
}
article.md-pick .content .md-box {
    width: 25%;
    float: left;
    
    text-align: center;
}

.md-box .photo {
    margin-bottom: 30px;
    position: relative; /* .quick의 기준! */

    /* outline: 2px solid red; */
}
.md-box .photo img {
    width: 100%;
    display: block;
}
.md-box .photo .quick {
    background-color: rgb(243,130,0);
    color: rgb(255, 255, 255);

    display: inline-block; 
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);

    display: none;
}

/* hover 적용! */
.md-box .photo:hover img {
    opacity: 0.4;
}
.md-box .photo:hover .quick {
    display: inline-block;
}

.md-box .caption {
    padding: 0 5%;
}
.md-box .caption h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.md-box .caption h3 a:hover {
    color: rgb(207,102,26);
    text-decoration: underline;
}
.md-box .caption p {
    margin-bottom: 10px;
}
.md-box .caption p.des {}
.md-box .caption p.price {
    color: rgb(207,102,26);
    font-weight: 700;
}



article.new {
    width: 1280px;
    margin: 0 auto 100px;
}
article.new .content {
    /* background-color: greenyellow; */
}
article.new .content ul {}
article.new .content ul li {
    /* outline: 2px solid red; */

    width: 32%;
}
article.new .content ul li ~ li {
    margin-left: 2%;
}

article.new .content ul li > a { /* img를 담는 박스!!! */
    /* outline: 2px solid blue; */

    margin-bottom: 30px;
    overflow: hidden;
}
article.new .content ul li > a img {
    width: 100%;
    display: block;

    transition: all 0.5s;
}

/* hover 효과 */
article.new .content ul li > a:hover img {
    transform: scale(1.5);
}
article.new .content ul li h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;

    color: rgb(207,102,26);
}

article.instagram {
    width: 100%;
    background-color: rgb(124,81,161);
    padding: 80px 0;
}
article.instagram .sec-title {
    color: rgb(255, 255, 255);
    font-family: "Nanum Gothic", sans-serif;
}

article.instagram .thumb {
    margin-bottom: 50px;
}
article.instagram .thumb ul {}
article.instagram .thumb ul li {
    width: 16.66%;
    overflow: hidden;

    /* outline: 2px solid lime; */
}
article.instagram .thumb ul li img {
    width: 100%;
    display: block;

    transition: all 0.5s;
}
article.instagram .thumb ul li:hover img {
    transform: scale(1.2);
    opacity: 0.7;
}

/* 버튼 디자인1 */
/* article.instagram .follow-btn {
    background-color: yellow;

    text-align: center;
}
article.instagram .follow-btn  a {
    background-color: rgb(243,130,0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    display: inline-block;
    padding: 10px 20px;
} */

/* 버튼 디자인2 */
article.instagram .follow-btn {
    background-color: rgb(243,130,0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    display: inline-block;
    padding: 10px 20px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}