@charset "UTF-8";

/* footer.css */

footer {
    width: 100%;
    background-color: lightgray;
    padding: 60px 0;
}
footer a:hover {
    text-decoration: underline;
}

footer .sitemap {
    /* background-color: lightpink; */

    padding-bottom: 30px;
    border-bottom: 1px solid #999;
    margin-bottom: 30px;
}
footer .sitemap .mapbox {
    /* outline: 2px solid yellow; */
    width: 16.66%;
    float: left;
}
footer .sitemap .mapbox h3  {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(207,102,26);
    font-family: "Merriweather", serif;
}
footer .sitemap .mapbox ul {}
footer .sitemap .mapbox ul li {
    float: none;
    line-height: 30px;
}



footer .info {
    /* background-color: lightpink; */

    position: relative; /* sns의 기준! */
}
footer .info .links {
    margin-bottom: 20px;
}
footer .info .links a {
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;

    position: relative;
}
footer .info .links a::after {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: rgb(51,51,51);

    position: absolute;
    left: 100%;
    top: 5px;
}
footer .info .links a:last-child:after {
    display: none;
}

footer .info .copy {}


footer .info .sns {
    position: absolute;
    right: 0;
    top: 0;
}
footer .info .sns a {
    /* outline: 1px solid red; */

    width: 40px;
    height: 40px;

    font-size: 0;
    float: left;
    margin-left: 10px
}
footer .info .sns a img {
    width: 100%;
    display: block;
}

footer .info .sns a:nth-child(3) {
    background-image: url(../img/ico_blog_hover.png);
}
footer .info .sns a:nth-child(3):hover {
    background-position: right;
}
footer .info .sns a:nth-child(4) {
    background-image: url(../img/ico_twitter_hover.png);
}
footer .info .sns a:nth-child(4):hover {
    background-position: right;
}

/* sns 아이콘 구현 1 */

/* footer .info .sns a {
    outline: 1px solid red;

    width: 40px;
    height: 40px;

    font-size: 0;

    background-image: url(../img/ico_sns.png);
}
footer .info .sns a:nth-child(2) {background-position-x: -40px;}
footer .info .sns a:nth-child(3) {background-position-x: -80px;}
footer .info .sns a:nth-child(4) {background-position-x: -120px;}
 */