@charset "utf-8";

/***  reset  ****************************************************************************************/
* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #000; */
}

/***  example.css  ***********************************************************************************************/

header {
    width: 100%;
    height: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 120px;
}

section {
    background-color: bisque;
    height: 450px;
}

section .menu {
    background-color: #eee;
    width: 25%;
    height: 100%;
    float: left;
}
section .menu ul {
    margin: 30px 0 0 30px;
    /* outline: 2px solid red; */
}
section .menu ul li {
    font-size: 20px;
    margin-bottom: 16px;
}
section .menu ul li a {
    color: #000;
}
section .menu ul li a:hover {
    color: tomato;
    text-decoration: underline;
}

/*  선택된 메뉴 디자인! */
section .menu ul li.active a {
    color: tomato;
    text-decoration: underline;
    font-weight: bold;
}



section .content {
    background-color: #fff;
    width: 75%;
    height: 100%;
    float: left;

    padding: 30px;
    box-sizing: border-box;
}
section .content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
section .content .des {
    width: 60%;
    font-size: 18px;
}
section .content .des p {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: black;
    color: rgba(255,255,255,0.6);
    text-align: center;
    padding: 50px 0;
}